<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 
	Add a logger config to see logging messages.		
	- For more detailed logs, set values to "FINEST"
	- For info on logging levels, see: http://www.vogella.com/tutorials/Logging/article.html-->
    <bean id="myLoggerConfig" class="logger.MyLoggerConfig" init-method="initLogger">
    	<property name="rootLoggerLevel" value="FINE" />
    	<property name="printedLoggerLevel" value="FINE"/>
    </bean>
    
    <!-- load properties file sport.properties -->
  	<context:property-placeholder location="classpath:sport.properties"/>
    
    <!-- Configure the dependency injection in Spring config file -->
    
	<!-- Defining beans here -->
	
	<!-- Define the dependency CarToolsService for BMW -->
	<bean id="bmwCarService"
	    class="car.dependencies.BMWToolsFactory"/>
	
	<!-- Define object and inject service in it -->
	<bean id="myBMW"
	    class="car.objects.BMWCar">
	    
	    <!-- set up constructor injection -->
	    <constructor-arg ref="bmwCarService"/>
	</bean>
	
	<!-- Define the dependency CarToolsService for BMW -->
	<bean id="opelCarService"
	    class="car.dependencies.OpelToolsFactory"/>
	    
	<!-- Define object and inject -->
	<bean id="myOpel"
	    class="car.objects.OpelCar">
	    
        <!-- set up setter injection -->
        <property name="carTools" ref="opelCarService"/>
    </bean>
	
</beans>

